.image {
  height: 100px;
}

.App{
  display: flex;
  flex-direction: row;
}

.card {
  width: 25%;
  height: 600px;
  margin: 20px;
  border: 3px solid grey;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 5px 10px #a09e9e;
}
.bg-dark {
  height: 90px;
}


.card-title {
  text-align: center;
  margin: 20px;
  font-size:x-large;
}

.card-img-top {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 400px;
}

.card-text {
  text-align: center;
  font-size: medium;
}

img{

  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  height: 450px;
}

.button{
  text-align: center;
  align-items: center;
  margin: 90px;
}

.container {
  width:40%;
  overflow-y: initial;
  overflow-x: hidden;
  height: 40pc;

}